* {
    box-sizing: border-box;
    margin: 1px;
    padding: 0;
}

h3 {
    color : #7aa;
    background-color: #cfcfcf;
}

.header {
    background-color: #4c7;
}

.main {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    user-select: none;
}